<!DOCTYPE html>
<html>
<head>
  <%= csrf_meta_tags %>

  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="turbolinks-cache-control" content="no-cache">

  <title>RecordRTC</title>

  <%= favicon_link_tag %>

  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>

  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
</head>

<body class="<%= controller.controller_name %> <%= controller.action_name %>">
  <% unless @disable_nav %>
    <div id="wrapper" class="">
      <%= render 'layouts/navbar' %>
    </div>

    <div id="page-wrapper">
      <%= render 'layouts/title' %>
      <%= render 'layouts/messages' %>

      <div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <%= content_for?(:panel_heading) ? yield(:panel_heading) : 'Recordings' %>
          </div>

          <div class="panel-body">
            <%= yield %>
          </div>
        </div>
      </div>
    </div>
  <% else %>
    <%= yield %>
  <% end %>
</body>
</html>
